# Default ignored files
/shelf/
/workspace.xml
# Local hosted-Laya configuration (may contain an API key)
/runConfigurations/Laya_Hosted_Example.xml
# Markdown personal settings
/markdown.xml
# Editor-based HTTP Client requests
/httpRequests/
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
